.theme-dark {
    --dark-text: #053742;
    --light-text: #E8F0F2;
    --dark-background: #053742;
    --light-background: #E8F0F2;
    --accent: #39A2DB;
    --accent-text: #E8F0F2;
    --button-border: #A2DBFA;
}

.theme-light {
    --dark-text: #E8F0F2;
    --light-text: #053742;
    --dark-background: #E8F0F2;
    --light-background: #053742;
    --accent: #39A2DB;
    --accent-text: #E8F0F2;
    --button-border: #A2DBFA;
}

html, #root {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

body {
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    color: var(--light-text);
}

button {
    cursor: pointer;
}

.container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 24px;
}

.btn {
    font-size: 24px;
    width: 180px;
    height: 50px;

    color: var(--accent-text);
    background-color: var(--accent);
    border: none;
    border-radius: 25px;

}

.btn-disabled {
    background-color: gray;
    cursor: initial;
}

.top-right-corner {
    position: fixed;
    top: 1%;
    right: 1%;
}

.icon-btn {
    cursor: pointer;
    font-size: 40px;
    color: rgba(0,0,0,0.1);
}

.icon-btn:hover {
    color: rgba(0,0,0,0.3);
}

.triangle {
    cursor: pointer;
    background-color: var(--accent);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
}

.flip-horizontally {
    transform: rotate(-90deg);
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.row * {
    margin: 20px;
}

.flower-static {
    width: 50%;
}

.flower {
    animation: breathing 10s ease-out infinite normal;
    animation-delay: 1s;
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 500px;
    background: var(--dark-background);
    border: 1px solid var(--dark-background);
    border-radius: 10px;
    visibility: visible;
}

.modal .content {
    padding: 1rem;
}

.modal .actions {
    padding: 0.5rem 1rem;
}

.settings-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.settings-item {
    padding: 20px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0;
    bottom: -3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: var(--accent);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
